<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>528137606903-4q83lgkeoghk8eknkdj4qgi7inpi992h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528137606903-4q83lgkeoghk8eknkdj4qgi7inpi992h</string>
	<key>API_KEY</key>
	<string>AIzaSyAoHulM4QEcM2F1I_GWIxmAmX-oQ1E8ADw</string>
	<key>GCM_SENDER_ID</key>
	<string>528137606903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.org.family-church.amber-light</string>
	<key>PROJECT_ID</key>
	<string>amber-light</string>
	<key>STORAGE_BUCKET</key>
	<string>amber-light.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:528137606903:ios:f35079297edc9ca5</string>
	<key>DATABASE_URL</key>
	<string>https://amber-light.firebaseio.com</string>
</dict>
</plist>